$duration: 1s;
$card-size: 100%;
$gap: 2vh;
$gap-min: 0vh;

.card {
	position: relative;
	width: $card-size;
	height: $card-size;
	align-self: center;
	justify-self: center;
	border-radius: 3vw;

	img {
		border-radius: 2vw;
		aspect-ratio: 1/1;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.card__front {
	z-index: 1;
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	backface-visibility: hidden;
	transition: transform $duration cubic-bezier(0.2, 0.85, 0.4, 1.275);
	padding: $gap;
	transition: padding 0.5s;
	user-select: none;
	&:hover {
		padding: $gap-min;
	}
	& div {
		user-select: none;
	}
}
.card__back {
	padding: $gap;
	z-index: 0;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	backface-visibility: hidden;
	transform: rotateY(-180deg);
	transition: transform $duration cubic-bezier(0.2, 0.85, 0.4, 1.275);
}

.selected_front {
	padding: $gap-min;
	transform: rotateY(180deg);
	z-index: -1;
}
.selected_back {
	padding: $gap-min;
	transform: rotateY(0deg);
	z-index: 2;
}

.not_clickable {
	pointer-events: none;
	&:hover {
		padding: $gap-min;
	}
}

.founded {
	animation-duration: $duration;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-name: founding;
	padding: $gap;
	&::before {
		content: '';
		border-radius: 2vw;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		animation: found-gradient $duration forwards;
	}
}
.founded,
.selected_back {
	padding: $gap;
}

@keyframes found-gradient {
	@for $i from 1 to 20 {
		#{$i*5%} {
			background: linear-gradient(
				60deg,
				rgba(0, 0, 0, 0.4) 0%,
				rgba(252, 227, 31, 0.4) (45-$i * 2%),
				rgba(255, 255, 255, 0.6) (70-$i * 2%),
				rgba(252, 227, 31, 0.4) (100-$i * 2%),
				rgba(255, 255, 255, 0.6) (115-$i * 2%)
			);
			opacity: calc($i / 20);
			z-index: 10;
		}
	}
}

.shaken {
	animation-duration: $duration;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-name: shaking;
	padding: $gap;
}

@keyframes shaking {
	@for $i from 1 to 10 {
		#{$i*10%} {
			filter: brightness((100-$i * 3%));
			@if $i%2 == 0 {
			} @else {
				@if $i == 1 or $i == 5 or $i == 9 {
					transform: rotate(10deg);
				} @else {
					transform: rotate(-10deg);
				}
			}
		}
	}
}
